@model ProductsCrud.Models.Product
@{
}

<h1>
    Edit product
</h1>

<a asp-action="Index">Go back</a>

<form asp-action="Edit" method="post">
    <input asp-for="Id" type="hidden"/>


    <label>Name:</label>
    <input asp-for="Name" />

    <label>Supplier:</label>
    <select asp-for="SupplierId" asp-items="ViewBag.SupplierId">
        <option value="">-- Select a Supplier --</option>
    </select>

    <button type="submit">Save changes</button>
</form>